@model  MvcOnlineTicaretOtomasyon.Models.Classes.Department
@{
    ViewBag.Title = "GetDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("UpdateDepartment", "Department", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.DepartmentId)
        @Html.LabelFor(x => x.DepartmentName)
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
    </div>
    <button class="btn btn-default" style="background-color:brown">Güncelle</button>
}


